<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Libreria Spring Boot" name="description" />
    <meta content="Wanda Rocha" name="author" />
    <title>HuellApp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/main-style.css}" />

    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/img/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/img/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/img/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>
    <nav th:replace="fragmentos :: navbarIndex"></nav>

    <img class="elipse2" th:src="@{/img/elipse2.svg}" alt="fondo de elipse">
    <img class="elipse4" th:src="@{/img/elipse4.png}" alt="fondo de elipse">

    <div class="main">
      <div class="wrapper">
        <div class="main-content">

          <section class="welcome">
            <h2>¡Bienvenido <span th:text="${name}"></span>!</h2>
            <h4>Este es tu panel de control</h4>
          </section>
          <div class="container-home mt-5 main">

            <div class="col cards__item">
              <div class="card text-center clickable-card">
                <a class="link-dark" style="text-decoration: none;" th:href="@{/users}">
                  <div class="card-home">
                    <img th:src="@{/img/users.png}" alt="Logo de usuarios">
                    <h4 class="card-title">Usuarios</h4>
                    <p class="card-text">Ver lista de usuarios</p>
                  </div>
                </a>
              </div>
            </div>


            <div class="col cards__item">
              <div class="card text-center clickable-card">
                <a class="link-dark" style="text-decoration: none;" th:href="@{/zones}">
                  <div class="card-home">
                    <img th:src="@{/img/zones.png}" alt="Logo de zonas">
                    <h4 class="card-title">Zonas</h4>
                    <p class="card-text">Administra las zonas</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col cards__item">
              <div class="card text-center clickable-card">
                <a class="link-dark" style="text-decoration: none;" th:href="@{/pets}">
                  <div class="card-home">
                    <img th:src="@{/img/pet.png}" alt="Logo de mascotas">
                    <h4 class="card-title">Mascotas</h4>
                    <p class="card-text">Accedé a las mascotas cargadas</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col cards__item">
              <div class="card text-center clickable-card">
                <a class="link-dark" style="text-decoration: none;" th:href="@{/animals}">
                  <div class="card-home">
                    <img th:src="@{/img/animals.png}" alt="Logo de animales">
                    <h4 class="card-title">Animales</h4>
                    <p class="card-text">Accedé a los tipos de animales</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col cards__item">
              <div class="card text-center clickable-card">
                <a class="link-dark" style="text-decoration: none;" th:href="@{/posts}">
                  <div class="card-home">
                    <img th:src="@{/img/posts.png}" alt="Mascotas encontradas">
                    <h4 class="card-title">Publicaciones</h4>
                    <p class="card-text">Accedé a todas las publicaciones</p>
                  </div>
                </a>
              </div>
            </div>

            <div class="col cards__item">
              <div class="card text-center clickable-card">
                <a class="link-dark" style="text-decoration: none;" th:href="@{/posts}">
                  <div class="card-home">
                    <img th:src="@{/img/miembros.png}" alt="Mascotas encontradas">
                    <h4 class="card-title">Miembros</h4>
                    <p class="card-text">Accedé a los miembros de tu equipo</p>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e529d2bf0a.js" crossorigin="anonymous"></script>
  </body>
  <footer th:replace="fragmentos :: footer"></footer>

</html>