<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #87AAAA;">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Inicio</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Posts
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/posts}">Mostrar Posts</a></li>
                        <li><a class="dropdown-item" th:href="@{/posts/create}">Crear Post</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Zones
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/zones}">Mostrar zonas</a></li>
                        <li><a class="dropdown-item" th:href="@{/zones/create}">Crear Zona</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Users
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/users}">Mostrar usuarios</a></li>
                        <li><a class="dropdown-item" th:href="@{/users/create}">Crear Usuario</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Animals
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/animals}">Mostrar animales</a></li>
                        <li><a class="dropdown-item" th:href="@{/animals/create}">Crear Animal</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pets
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" th:href="@{/pets}">Mostrar Mascotas</a></li>
                        <li><a class="dropdown-item" th:href="@{/pets/create}">Crear Mascota</a></li>

                    </ul>
                </li>

            </ul>
        </div>
        <div class="text-end">
            <a class="btn btn-light" th:href="@{/logout}">Finalizar sesión</a>
        </div>
    </div>
</nav>

<!--<footer th:fragment="footer" class="footer py-1 fixed-bottom" style="background-color: #87AAAA;">
    <div class="container d-flex justify-content-center">
         al principio puse sesion pero no lo tomaba despues puse session y ando
        <span class="text-muted text-reset"
              th:text="${session.id != null} ? |${session.id} - ${session.name} - ${session.rol}| : 'HuellApp '">
        </span>
    </div>
</footer>-->


  <header th:fragment="navbarIndex">
    <div class="header">
      <div class="wrapper">
        <div class="header-container">

          <div class="logo">
            <a th:href="@{/}">
              <img class="logo-huellapp" th:src="@{/img/huellapp.svg}" width="70px" height="70px" alt="Logo HuellApp">
            </a>
          </div>

          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                  <div class="navbar-container">
                    <div class="dropdown-mascotas">
                      <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          PUBLICACIONES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item" th:href="@{/create}">Crear</a></li>
                          <li><a class="dropdown-item" th:href="@{/selectPost}">Mostrar</a></li>
                        </ul>
                      </li>
                    </div>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/ayuda}">AYUDA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/nosotros}">NOSOTROS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/}">CONTÁCTANOS</a>
                    </li>
                  </div>

                </ul>
              </div>
            </div>
          </nav>

          <nav>
            <ul class="navbar-nav">
              <div class="dropdown-ingresar">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    INGRESAR
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" th:href="@{/auth/login}">Iniciar sesión</a></li>
                    <li><a class="dropdown-item" th:href="@{/auth/signup}">Registrarse</a></li>
                    <!-- USUARIO INGRESADO -->
                    <li><a class="dropdown-item" th:href="@{/posts}">Mis publicaciones</a></li>
                    <li><a class="dropdown-item" th:href="@{/pets}">Mis mascotas</a></li>
                    <li><a class="dropdown-item" th:href="@{/users}">Mi perfil</a></li>
                    <!-- PARA ADMIN -->
                    <li><a class="dropdown-item" th:href="@{/}">Panel de control</a></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
                  </ul>
                </li>
              </div>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </header>

  <footer th:fragment="footer" class="footer">
    <p>Hecho con <i class="fas fa-heart"></i> Copyright 2021 - Todos los derechos reservados</p>
    <div class="footer-a">
      <a href="..."> <i class="fab fa-linkedin"></i></a>
      <a href="..."> <i class="fab fa-instagram-square"></i></a>
      <a href="..."> <i class="fab fa-twitter-square"></i></a>
    </div>
  </footer>