<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta content="Libreria Spring Boot" name="description"/>
    <meta content="Wnada Rocha" name="author"/>
    <title th:text="|${title}|"></title>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{../static/css/style.css}"/>
</head>

<body>
<nav th:replace="fragmentos :: navbar"></nav>

<div class="container mt-5 main">

    <h2 th:text='${"Nombre de la ciudad: "+zone.city}'></h2>
<br>
    <h3 th:text='${"Nombre de la provincia: "+zone.province}'></h3>
    <br>
    <h3 th:text='${"Codigo postal: "+zone.zipCode}'></h3>
    <br>
    <br>
    <br>


    <div th:if="${postByZoneId.isEmpty()}">
        <h5>Todavía no hay posteos cargados en esta ciudad</h5>
    </div>
    <div class="table-responsive" th:unless="${postByZoneId.isEmpty()}">
        <table class="table table-hover table-sm table-bordered">
            <thead class="table-secondary text-center">
<!--            ESTO ES PARA EL POST , NO PARA ZONE - ACORDARSE !! -->
            <tr>
                <th class="col-md-4 px-md-2" scope="col">Ciudad</th>
                <th class="col-md-4 px-md-2" scope="col">Provincia</th>
                <th class="col-md-4 px-md-2" scope="col">Zip Code</th>
            </tr>
            </thead>
            <tbody>
<!--            <tr th:each="zone : ${zonesById}">-->
<!--                <td class="col-md-4 px-md-2" th:text="${zone.city}"></td>-->
<!--                <td class="col-md-4 px-md-2" th:text="${zone.province}"></td>-->
<!--                <td class="col-md-4 px-md-2" th:text="${zone.zipCode}"></td>-->
<!--            </tr>-->
            </tbody>
        </table>
    </div>
        
    </div>
</div>

<footer th:replace="fragmentos :: footer"></footer>

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>